body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ibm-plex {
  font-family: 'IBM Plex Mono', monospace;
}
.work-sans {
  font-family: 'Work Sans', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.overlay {
  backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
}


.weboverlay {
  background-color: rgba(17, 2, 46, 0.5);
  backdrop-filter: blur(2px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(2px) saturate(160%) contrast(45%) brightness(140%);
}





@tailwind base;
@tailwind components;
@tailwind utilities;
